```gitignore
RawSeqs/*
!RawSeqs/.gitkeep

results/*
!results/.gitkeep

reference_db/*.fasta
reference_db/*.fa
reference_db/*.fastq
reference_db/*.fastq.gz
reference_db/*.gz

usearch*.exe
*.fastq
*.fastq.gz
*.fq
*.fq.gz
.Rhistory
.RData
